.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    width: fit-content;
    
    .btn {
        padding: 0 10px;
        width: 50px;
        line-height: 40px;
        font-size: 30px;
        height: 50px;
        outline: 0;
        &.reset {
            width: 100px;
        }
    }
    
    .shower {
        margin: 0;
        border: 1px solid #000;
        width: 8em;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
    }
}

